
.contact-section {
    color: #333;
}
.contact-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}




.slds-input:focus {
    border-color: transparent !important;
    box-shadow: 0 0 5px #E51515 !important;
}

.slds-textarea:focus {
    border-color: transparent !important;
    box-shadow: 0 0 5px #E51515 !important;
}

.about-cta lightning-button {
    margin-top: 1rem;
}

